html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1E1E1E;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: 300;
    /*transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);*/
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 640px;
    background: #F4F7F8;
    background: -webkit-linear-gradient(to right, #E6E9F0, #F4F7F8);
    background: linear-gradient(to right, #E6E9F0, #F4F7F8);
    /*background: #EFF8FA;
    background: -webkit-linear-gradient(to right, #BABEC7, #EFF8FA);
    background: linear-gradient(to right, #BABEC7, #EFF8FA);*/
}

/************ Text Styles ************/

.title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight : 700;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 700;
}

h1, h2 {
    font-family: 'Chivo', sans-serif;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

p {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

strong, b {
    font-size: 0.95em;
    font-weight: 700;
}

i {
    font-weight: 400i;
}

p.small {
    font-size: 0.65em;
    font-weight: 300i;
}



/************ Header Styles ************/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    background: #1E1E1E;
    z-index: 999;
}

header div.primary {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    width: 100vw;
    min-height: 60px;
    background: #1E1E1E;
    transition: 0.2s ease-in-out all;
    z-index: 2;
}

header .primary .company {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.company .logo {
    height: 45px;
    padding-left: 8px;
}

.company .title {
    padding: 8px 0 0 4px;
    color: #FBFBFB;
}

header .secondary {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 55px;
    background: #FBFBFB;
    z-index: 1;
}

.secondary .search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
    max-width: 480px;
    min-width: 280px;
    padding-right: 24px;
}

.secondary .search input {
    display: inline-block;
    position: relative;
    width: calc(100% - 34px);
    height: auto;
    margin: 0;
    padding: 8px 16px !important;
    font-weight: 700;
    font-size: 1em;
    color: #f64786;
    /*color: rgba(76, 76, 103, 1);*/
    line-height: 12px;
    letter-spacing: 1px;
    background: rgba(85, 85, 85, 0.1);
    padding: 12px 14px;
    border: 2px solid transparent;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    z-index: 1;
}

.search input:focus {
    border: 2px solid #f64786;
    box-shadow: 0px 0px 20px rgba(76, 76, 103, 0.2);
}

.search label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 24px;
    height: 18px;
    color: #CFCFCF;
    opacity: 1;
    transform: translateY(-50%);
    transition: 0.2s ease all;
    z-index: 3;
}

.search label::before {
    content: "\f002";
    padding-right: 16px;
    font-size: 18px;
    font-family: 'FontAwesome';
    text-align: center;
    line-height: 18px;
    transition: 0.2s ease all;
}

.search label span {
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.1em;
    padding-top: 1px;
}

.search input:focus + label, .search input:valid + label {
    left: 0px;
    opacity: 0;
}

.secondary .search span.close {
    position: absolute;
    right: 32px;
    width: 20px;
    color: rgba(76, 76, 103, 0.2);
    font-size: 18px;
    font-family: 'FontAwesome';
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    opacity: 0;
    transition: 0.2s ease-in-out all;
    z-index: 2;
}

.search input:focus ~ span.close, .search input:valid ~ span.close {
    opacity: 1;
    transition: 0.4s ease-in-out all;
}

.search input:focus ~ span.close:hover, .search input:valid ~ span.close:hover {
    color: rgba(76, 76, 103, 1);
}


/************ Navigation Styles ************/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    min-height: 60px;
    width: 380px;
    background: #1E1E1E;
    z-index: 990;
}

nav .cover {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 60px;
    width: 100%;
    padding-right: 12px;
    cursor: pointer;
    background: #1E1E1E;
    z-index: 991;
}

nav .toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60px;
    width: 65px;
    cursor: pointer;
    background: #1E1E1E;
    z-index: 991;
}

nav.open-m .toggle, nav .toggle:hover {
    background: #1E1E1E;
}

nav .toggle span {
    position: relative;
    width: 35px;
    height: 3px;
    background: #FBFBFB;
    border-radius: 2px;
    margin: 31px auto;
    cursor: pointer;
    transition: 0.2s ease all;
}

nav .toggle span::before, nav .toggle span::after {
    content: "";
    position: absolute;
    top: 24px;
    right: 1px;
    width: 25px;
    height: 3px;
    background: #FBFBFB;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}

nav .toggle span::before { top: -10px; }
nav .toggle span::after { top: 10px; }

nav.open-m .toggle span { background: transparent; }

nav.open-m .toggle span::before {
    right: 4px;
    border-radius: 12px;
    -webkit-transform: translateY(10px) scale(1.4) rotate(45deg);
    -ms-transform: translateY(10px) scale(1.4) rotate(45deg);
    transform: translateY(10px) scale(1.4) rotate(45deg);
}

nav.open-m .toggle span::after {
    right: 4px;
    border-radius: 12px;
    -webkit-transform: translateY(-10px) scale(1.4) rotate(-45deg);
    -ms-transform: translateY(-10px) scale(1.4) rotate(-45deg);
    transform: translateY(-10px) scale(1.4) rotate(-45deg);
}

nav .menu {
    position: relative;
    top: 0;
    margin-right: 4px;
    padding: 0 12px 12px 0;
    background: #1E1E1E;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    z-index: 989;
    opacity: 1;
    transition: 0.2s all ease-in-out;
}

nav.open-m .menu {
    /*margin-top: 65px;*/
    opacity: 1;
    /*visibility: visible;*/
}

nav.nv-m .menu {
    opacity: 0;
    /*visibility: hidden;*/
}

nav.hd-m .menu {
    display: none;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.menu ul li {
    position: relative;
    padding: 0px 12px 6px 12px;
    overflow: hidden;
    cursor: pointer;
    border-left: #FBFBFB 0px solid;
    transition: 0.2s ease-in-out;
}

.menu ul li a {
    text-decoration: none;
    font-size: 0.85em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #515252;
    transition: 0.2s ease-in-out;
}

.menu ul li:last-child::after {
    background: transparent;
}

.menu ul li:hover {
    background: #1E1E1E;
    /*background: #F4F7F8;*/
}

.menu ul li:hover a {
    /*color: #FBFBFB;*/
    background: #ec008c;
    background: -webkit-linear-gradient(#ec008c, #f09b42);
    background: linear-gradient(#ec008c, #f09b42);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu ul li:hover::before {
    left: -19px;
}



/************ Content Styles ************/

main {
    position: relative;
    width: 100vw;
    min-height: 800px;
    margin: 0 auto;
    padding: 40px 0px;
    overflow: hidden;
    z-index: 0;
}

article {
    padding: 20px 40px;
}

section {

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    border: none;
    border-collapse: collapse;
    z-index: 0;
}

.wrapper {
    position: relative;
}


/************ Business Brand Styles ************/

article.business {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 350px;
}

.business .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 60%;
    /*width: 60%;*/
    max-width: 460px;
}

.logo img:first-child {
    max-width: 160px;
    padding: 0px 100px;
}

.logo img {
    max-width: 100px;
    padding-right: 20px;
}

.logo img:last-child {
    padding-left: 20px;
    padding-right: 0px;
}

.business .name {
    flex: 1 0 40%;
    /*width: 40%;*/
}



/************ Login Box Styles ************/

article.access {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    height: 600px;
    width: 600px;
    margin: 0px auto 60px auto;
    padding: 40px 0px;
}

article.access #chg-action {
    position: absolute;
    bottom: 30px;
    right: 60px;
}

#chg-action button {
    display: block;
    width: 120px;
    height: 50px;
    margin: 0 auto;
    font-size: 1.1em;
    font-weight: 700;
    /* text-transform: uppercase; */
    letter-spacing: 0.075em;
    color: rgba(251, 251, 251, 0.65);
    cursor: pointer;
    -webkit-appearance: none;
    background: rgba(236, 0, 140, 0.9);
    background: -webkit-linear-gradient(to bottom left, rgba(252, 104, 104, 0.9), rgba(236, 0, 140, 0.9));
    background: linear-gradient(to bottom left, rgba(252, 104, 104, 0.9), rgba(236, 0, 140, 0.9));
    border: none;
    box-shadow: 0px 0px 20px rgba(236, 0, 140, 0.4);
    transition: 0.2s ease-in-out all;
}

#chg-action button:hover {
    color: rgba(251, 251, 251, 1);
    background: rgba(236, 0, 140, 1);
    background: -webkit-linear-gradient(to bottom left, rgba(252, 104, 104, 1), rgba(236, 0, 140, 1));
    background: linear-gradient(to bottom left, rgba(252, 104, 104, 1), rgba(236, 0, 140, 1));
    box-shadow: 0px 0px 20px rgba(236, 0, 140, 0.6);
}

section.login, section.register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 400ms cubic-bezier(0.075, 0.7, 0.125, 1.2);
}

section.lft-open {
    left: 26%;
}

section.rgt-open {
    left: 97%;
}

.login .box, .register .box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 560px;
    width: 420px;
    background: #FBFBFB;
}

.box .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: calc(85% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
}

.login .box .header {
    flex: 0 1 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.register .box .header {
    flex: 0 1 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.box .header h2 {
    position: relative;
    width: 90%;
    margin-bottom: 30px;
    font-size: 1.6em;
    color: #1E1E1E;
    text-transform: uppercase;
    text-align: center;
}

.box .header h2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    width: 100%;
    margin: 0 auto;
    background: rgba(236, 0, 140, 0.9);
    background: -webkit-linear-gradient(to bottom left, rgba(252, 104, 104, 0.9), rgba(236, 0, 140, 0.9));
    background: linear-gradient(to bottom left, rgba(252, 104, 104, 0.9), rgba(236, 0, 140, 0.9));
}

.box .header img {
    max-height: 160px;
}

.box .footer {
    flex: 0 1 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.box .footer a.help-link {
    margin-bottom: 0px;
    color: #DBDBDB;
    font-size: 0.9em;
    transition: 0.2s ease all;
}

.box .footer a.help-link:hover {
    margin-bottom: 6px;
    color: rgba(236, 0, 140, 1);
    text-shadow: 0px 6px 20px rgba(236, 0, 140, 0.3);
}



/************ Notifiers Styles ************/

article.notifiers {

}

/************ Expansion Styles ************/

article.addition {
    position: absolute;
    height: 100%;
    width: 100vw;
    padding: 0;
    opacity: 1;
    visibility: visible;
    z-index: -200;
}

article.addition .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 700px;
    max-width: 600px;
    margin: 24px auto;
}

.addition .card {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 1;
    visibility: visible;
    background: #FBFBFB;
    border-radius: 12px;
    box-shadow: 2px 2px 24px rgba(30, 30, 30, 0.4), 0px 2px 4px rgba(30, 30, 30, 0.2);
    transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1.4);
    transform: scale(0.7);
}

.addition .card.open {
    /*animation-name: open-card;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;*/
    transform: scale(1);
}

.addition .fade {
    position: absolute;
    width: 100%;
    border-top: 8px solid #FBFBFB;
    background: transparent;
    background: -webkit-linear-gradient(top, rgba(251, 251, 251, 0), rgba(251, 251, 251, 1));
    background: -o-linear-gradient(top, rgba(251, 251, 251, 0), rgba(251, 251, 251, 1));
    background: -moz-linear-gradient(top, rgba(251, 251, 251, 0), rgba(251, 251, 251, 1));
    background: linear-gradient(to top, rgba(251, 251, 251, 0), rgba(251, 251, 251, 1));
    z-index: 1;
}

.addition .card .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
    padding: 36px 42px;
    z-index: 3;
}

.addition .header .context {
    flex: 0 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 240px;
    z-index: 2;
}

.addition .header .context .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1em;
    border-radius: 6px;
}

.addition .header .context .label p {
    padding-left: 2px;
    font-size: 12px;
    font-weight: 200;
    color: #6b6b6b;
}

.addition .card .content {
    flex: 1 1 410px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    overflow: visible;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.addition textarea {
    height: 100px;
}

.file-drop {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    color: #1E1E1E;
    border-radius: 6px;
    background: transparent;
    /*transition: 0.2s ease all;*/
}

.file-drop input {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    border: none;
    z-index: 999;
}

.file-drop .selection {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex: 1 1 100%;
    order: 2;
    height: auto;
    width: calc(100% - 32px);
    font-weight: 700;
    font-size: 1.2em;
    color: #CFCFCF;
    line-height: 15px;
    letter-spacing: 1px;
    background: rgba(85, 85, 85, 0.1);
    padding: 8px 14px;
    border: 2px dashed #CFCFCF;
    border-radius: 4px;
}

.file-drop .selection > .icon {
    position: relative;
    flex: 1 1 30%;
    margin: 0;
    font-size: 32px;
    text-align: center;
}

.file-drop .selection > p {
    position: relative;
    flex: 1 1 70%;
    margin: 0;
    text-align: left;
}

.file-drop .file-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex: 1 1 100%;
    order: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 100%;
    background: #1E1E1E;
    transition: 0.3s ease all;
}

.file-drop .file-info.valid {
    color: #19CC95;
}

.file-drop .file-info.invalid {
    color: #E74C3C;
}

.file-drop .file-info.show {
    margin-top: 0px;
}

.file-drop .file-info.valid::before {
    order: 0;
    content: '\f00c';
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 30%;
    height: 100%;
    margin-right: 20px;
    opacity: 1;
    color: #1E1E1E;
    font-size: 42px;
    font-family: 'FontAwesome';
    text-align: center;
    line-height: auto;
    background: #19CC95;
    /*transition: 0.2s ease all;*/
}

.file-drop .file-info.invalid::before {
    order: 0;
    content: '\f00d';
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 30%;
    height: 100%;
    margin-right: 20px;
    opacity: 1;
    color: #1E1E1E;
    font-size: 42px;
    font-family: 'FontAwesome';
    text-align: center;
    line-height: auto;
    background: #E74C3C;
    /*transition: 0.2s ease all;*/
}

.file-drop .file-info .wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex: 1 1 70%;
    height: 100%;
    margin-right: 20px;
    font-size: 0.9em;
}

.file-drop .file-info h4 {
    margin: 0 0 6px 0;
    font-size: 18px;
}

.file-drop .file-info p {
    margin: 0;
    font-size: 14px;
}

.addition .submit {
    margin-top: 10px;
}

.addition .card .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 0px;
    height: 60px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    z-index: 2;
}

.addition .footer #add-close {
    height: 100%;
    width: 120px;
}

.addition #add-close button {
    height: 100%;
    width: 100%;
    font-size: 2.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgba(251, 251, 251, 0.6);
    cursor: pointer;
    -webkit-appearance: none;
    background: #ec008c;
    background: -webkit-linear-gradient(to bottom right, #fc6767, #ec008c);
    background: linear-gradient(to bottom right, #fc6767, #ec008c);
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: 0.2s ease-in-out all;
    text-shadow: 0px 0px 4px rgba(251, 251, 251, 0);
}

.addition #add-close button:hover {
    color: rgba(251, 251, 251, 1);
    text-shadow: 0px 0px 8px rgba(251, 251, 251, 0.4);
}

/************ Expansion Styles ************/

article.expansion {
    position: absolute;
    height: 100%;
    width: 100vw;
    padding: 0;
    opacity: 1;
    visibility: visible;
    z-index: -200;
}

article.expansion .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 700px;
    max-width: 600px;
    margin: 24px auto;
}

.expansion .card {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 1;
    visibility: visible;
    background: #FBFBFB;
    border-radius: 12px;
    box-shadow: 2px 2px 24px rgba(30, 30, 30, 0.4), 0px 2px 4px rgba(30, 30, 30, 0.2);
    transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1.4);
    transform: scale(0.7);
}

.expansion .card.open {
    /*animation-name: open-card;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;*/
    transform: scale(1);
}

.expansion .fade {
    position: absolute;
    width: 100%;
    border-top: 8px solid #FBFBFB;
    background: transparent;
    background: -webkit-linear-gradient(top, rgba(251, 251, 251, 0), rgba(251, 251, 251, 1));
    background: -o-linear-gradient(top, rgba(251, 251, 251, 0), rgba(251, 251, 251, 1));
    background: -moz-linear-gradient(top, rgba(251, 251, 251, 0), rgba(251, 251, 251, 1));
    background: linear-gradient(to top, rgba(251, 251, 251, 0), rgba(251, 251, 251, 1));
    z-index: 1;
}

.expansion .card .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
    height: 180px;
    padding: 24px 24px 16px 24px;
    z-index: 3;
}

.expansion .card .visual {
    flex: 1 1;
    margin-top: -42px;
    margin-right: -60px;
    max-height: 360px;
    max-width: 380px;
    border-radius: 8px;
    box-shadow: -22px 28px 30px -20px rgba(0, 0, 0, 0.3), 2px 4px 8px rgba(30, 30, 30, 0.2);
    /*box-shadow: 14px 14px 28px rgba(30, 30, 30, 0.2), 2px 4px 8px rgba(30, 30, 30, 0.2);*/
    z-index: 3;
}

.expansion .header .context {
    flex: 0 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 240px;
    z-index: 2;
}

.expansion .header .context .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1em;
    border-radius: 6px;
}

.expansion .header .context .label p {
    padding-left: 2px;
    font-size: 12px;
    font-weight: 200;
    color: #6b6b6b;
}

.expansion .header .quick-facts {
    width: 100%;
}

.expansion .header .quick-facts dt {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.expansion .header .quick-facts h4 {
    padding-left: 2px;
    font-size: 1em;
}

.expansion .header .quick-facts i {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 16px;
}

.expansion .header .quick-facts dd {
    margin: 6px 0px 14px 2px;
    font-size: 13px;
    color: #6b6b6b;
}

.expansion .header .interactions {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
    width: calc(100% - 20px);
    margin: 0;
    padding: 0px 16px 0px 0px;
    list-style: none;
}

.expansion .header .interactions button {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100px;
    margin: 0;
    padding: 12px 16px;
    color: rgba(251, 251, 251, 0.6);
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-appearance: none;
    background: #ec008c;
    background: -webkit-linear-gradient(to bottom right, #fc6767, #ec008c);
    background: linear-gradient(to bottom right, #fc6767, #ec008c);
    border: none;
    border-radius: 4px;
    transition: 0.2s ease-in-out all;
    text-shadow: 0px 0px 4px rgba(251, 251, 251, 0);
    box-shadow: 2px 4px 8px rgba(30, 30, 30, 0.1), 0px 2px 4px rgba(30, 30, 30, 0.05);
}

.expansion .header .interactions button:hover {
    margin: -2px 0px 0px 0px;
    color: rgba(251, 251, 251, 1);
    text-shadow: 0px 0px 8px rgba(251, 251, 251, 0.4);
    box-shadow: 2px 4px 8px rgba(30, 30, 30, 0.15), 0px 2px 4px rgba(30, 30, 30, 0.125);
}

.expansion .header .fade {
    bottom: -42px;
    left: 0;
    height: 35px;
}

.expansion .card .content {
    align-items: flex-start;
    height: 460px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
}

.expansion .content .description {
    margin: 24px 0px;
    padding: 0px 24px;
}

.expansion .description h4 {
    text-transform: uppercase;
    font-size: 1.2em;
}

.expansion .description p {
    padding-top: 12px;
    font-size: 13px;
    color: #6b6b6b;
}

.expansion .tags {
    max-width: 800px;
    margin-top: 16px;
}

.expansion .tags ul {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}

.expansion .tags ul li {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 2px 12px 2px 0px;
    padding: 6px 24px;
    color: #515151;
    font-size: 0.8em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background: #f3f3f3;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    transition: 0.2s ease-in-out all;
}

.expansion .map-area {
    position: relative;
    width: 100%;
    height: 325px;
    z-index: 0;
}

.expansion .map-area .fade {
    top: 0;
    left: 0;
    height: 75px;
}

.expansion .map-area img {
    position: relative;
    max-width: 100%;
    z-index: 0;
}

.expansion .card .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 0px;
    height: 60px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    z-index: 2;
}

.expansion .footer #exp-close {
    height: 100%;
    width: 120px;
}

.expansion #exp-close button {
    height: 100%;
    width: 100%;
    font-size: 2.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgba(251, 251, 251, 0.6);
    cursor: pointer;
    -webkit-appearance: none;
    background: #ec008c;
    background: -webkit-linear-gradient(to bottom right, #fc6767, #ec008c);
    background: linear-gradient(to bottom right, #fc6767, #ec008c);
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: 0.2s ease-in-out all;
    text-shadow: 0px 0px 4px rgba(251, 251, 251, 0);
}

.expansion #exp-close button:hover {
    color: rgba(251, 251, 251, 1);
    text-shadow: 0px 0px 8px rgba(251, 251, 251, 0.4);
}

/************ Sightings Styles ************/

article.sightings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    min-height: inherit;
    margin-top: 0px;
    padding: 0px 60px 240px 60px;
    opacity: 1;
    /*background: #F4F7F8;
    background: -webkit-linear-gradient(to right, #E6E9F0, #F4F7F8);
    background: linear-gradient(to right, #E6E9F0, #F4F7F8);*/
    transition: margin-top 700ms 0ms ease-in-out, opacity 300ms 0ms ease;
    z-index: 0;
}

article.sightings .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    width: 100%;
    opacity: 1;
    /*background: #F4F7F8;
    background: -webkit-linear-gradient(to right, #E6E9F0, #F4F7F8);
    background: linear-gradient(to right, #E6E9F0, #F4F7F8);*/
    transition: margin-top 700ms 0ms ease-in-out, opacity 300ms 0ms ease;
    z-index: 0;
}

article.sightings.hide {
    margin-top: -300vh;
    opacity: 0;
}

article.sightings .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 460px;
    margin: 20px;
    background: #FBFBFB;
    border-radius: 8px;
    box-shadow: 0px 24px 22px -16px rgba(0,0,0,0.3), 0px 2px 4px rgba(30, 30, 30, 0.125);
    z-index: 1;
}

.card .content {
    flex: 1 1 410px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card .visual {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    height: 210px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.card .visual img {
    position: relative;
    min-height: 100%;
    max-width: 125%;
}

.card .content > .context {
    flex: 1 1;
    position: relative;
    height: 135px;
    width: 100%;
    background: #FBFBFB;
    z-index: 2;
}

.card .content > .context .label {
    position: absolute;
    top: -24px;
    right: 6px;
    padding: 4px 12px;
    font-size: 10px;
    color: #FBFBFB;
    border-radius: 6px;
    /*background: #1D976C;
    background: -webkit-linear-gradient(to bottom right, #6aa688, #93F9B9);
    background: linear-gradient(to bottom right, #6aa688, #93F9B9);*/

    background: #ec008c;
    background: -webkit-linear-gradient(to bottom left, #fc6767, #ec008c);
    background: linear-gradient(to bottom left, #fc6767, #ec008c);

    box-shadow: 2px 2px 12px rgba(30, 30, 30, 0.25);
}

.card .content > .context .label h3 {
    font-size: 15px;
    font-weight: 700;
}

.card .content > .context .label p {
    font-size: 11px;
    font-weight: 200;
    letter-spacing: 0.02em;
}

.card .content > .context .description {
    position: relative;
    height: calc(100% - 15px);
    padding: 0px 20px;
    overflow: hidden;
}

.description p {
    padding-top: 22px;
    font-size: 11px;
    font-weight: 200;
    letter-spacing: 0.01em;
    line-height: 1.4em;
}

.card .content > .context .fade {
    position: absolute;
    bottom: 15px;
    left: 0px;
    height: 55px;
    width: 100%;
    border-bottom: 8px solid #FBFBFB;
    background: transparent;
    background: -webkit-linear-gradient(bottom, rgba(251, 251, 251, 0.3), rgba(251, 251, 251, 1));
    background: -o-linear-gradient(bottom, rgba(251, 251, 251, 0.3), rgba(251, 251, 251, 1));
    background: -moz-linear-gradient(bottom, rgba(251, 251, 251, 0.3), rgba(251, 251, 251, 1));
    background: linear-gradient(to bottom, rgba(251, 251, 251, 0.3), rgba(251, 251, 251, 1));
}

.card .content > .context .expand-button {
    position: absolute;
    bottom: 0px;
    /*left: 0px;*/
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
    /*color: #FBFBFB;*/
    color: #ec008c;
    cursor: pointer;
    -webkit-appearance: none;
    background: none;
    /*background: #ec008c;
    background: -webkit-linear-gradient(to bottom right, #fc6767, #ec008c);
    background: linear-gradient(to bottom right, #fc6767, #ec008c);*/
    border: none;
    border-radius: 6px;
    transition: 0.2s ease-in-out all;
    text-shadow: 0px 0px 4px rgba(251, 251, 251, 0);
}

.card .footer {
    flex: 0 1 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #383D3D;
    z-index: 3;
}

.card .footer .connected {
    flex: 1 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 100%;
    padding: 0 8px;
}

.connected ul {
    flex: 0 1 86px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    margin: 0;
    padding: 0 6px 0 0;
    list-style: none;
    overflow: hidden;
}

.connected ul li {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    opacity: 1;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50%;
    background: transparent;
    box-shadow: 2px 2px 12px rgba(30, 30, 30, 0.25);
    transition: 0.2s ease-in-out;
}

.connected ul li:last-child {
    /*opacity: 0.5;*/
}

.connected .users .user img {
    max-width: 40px;
}

.connected > .context {
    flex: 1 1 100px;
}

.connected > .context p {
    font-size: 11px;
    font-weight: 200;
    color: #FBFBFB;
}

.connected > .context p .count {
    font-weight: 700;
}

.card .footer .cd-toggle {
    flex: 0 1 60px;
    height: 100%;
}

.card .cd-toggle button {
    height: 100%;
    width: 100%;
    font-size: 2.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgba(251, 251, 251, 0.6);
    cursor: pointer;
    -webkit-appearance: none;
    /*background: #1D976C;
    background: -webkit-linear-gradient(to bottom right, #6aa688, #93F9B9);
    background: linear-gradient(to bottom right, #6aa688, #93F9B9);*/
    background: #ec008c;
    background: -webkit-linear-gradient(to bottom right, #fc6767, #ec008c);
    background: linear-gradient(to bottom right, #fc6767, #ec008c);
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: 0.2s ease-in-out all;
    text-shadow: 0px 0px 4px rgba(251, 251, 251, 0);
}

.card .cd-toggle.active button, .card .cd-toggle button:hover {
    color: rgba(251, 251, 251, 1);
    text-shadow: 0px 0px 8px rgba(251, 251, 251, 0.4);
}


/************ Action Menu Style ************/

div.cd-menu {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 110px;
    width: 120px;
    opacity: 1;
    visibility: visible;
    z-index: 0;
}

div.cd-menu.inactive {
    visibility: hidden;
    opacity: 0;
}

.cd-menu .context {
    position: relative;
    height: 100%;
    width: 100%;
}

.cd-menu .context button {
    position: absolute;
    height: 48px;
    width: 48px;
    font-size: 20px;
    color: rgba(251, 251, 251, 0.6);
    cursor: pointer;
    -webkit-appearance: none;

    /*background: #673AB7;
    background: -webkit-linear-gradient(to right, #512DA8, #673AB7);
    background: linear-gradient(to right, #512DA8, #673AB7);*/

    border: none;
    border-radius: 12px;
    /*transition: 0.2s ease-in-out all;*/

    -webkit-transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1.25);
    transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1.25);

    text-shadow: 0px 0px 4px rgba(251, 251, 251, 0);
    box-shadow: 2px 2px 20px rgba(30, 30, 30, 0.25);
}

.cd-menu.inactive .context button {
    box-shadow: 2px 2px 20px rgba(30, 30, 30, 0);
}

.cd-menu .context button:first-child {
    background: #ec008c;
    background: -webkit-linear-gradient(to bottom left, #f09b42, #ec008c);
    background: linear-gradient(to bottom left, #f09b42, #ec008c);
}

.cd-menu .context button:nth-child(2) {
    background: #ec008c;
    background: -webkit-linear-gradient(to top left, #f09b42, #ec008c);
    background: linear-gradient(to top left, #f09b42, #ec008c);
}

.cd-menu .context button:last-child {
    background: #ec008c;
    background: -webkit-linear-gradient(to top right, #f09b42, #ec008c);
    background: linear-gradient(to top right, #f09b42, #ec008c);
}

.cd-menu .context button::after {
    content: "";
    position: absolute;
    height: 12px;
    padding: 4px 8px;
    font-size: 11px;
    font-weight: 200;
    white-space: nowrap;
    color: #FBFBFB;
    opacity: 0;
    visibility: collapse;
    background: #383D3D;
    border-radius: 6px;
    transition: 0.4s 1s ease opacity, 0s 0.5s ease visibility;
}

.cd-menu .context button:first-child::after {
    content: "View More";
    top: 50%;
    left: 55px;
    transform: translateY(-50%);
}

.cd-menu .context button:nth-child(2)::after {
    content: "View Comments";
    top: 70px;
    left: 35px;
    transform: rotate(45deg);
}

.cd-menu .context button:last-child::after {
    content: "Favorite";
    top: 72px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
}

.cd-menu .context button:hover {
    color: rgba(251, 251, 251, 1);
    text-shadow: 0px 0px 8px rgba(251, 251, 251, 0.4);
}

.cd-menu .context button:hover::after {
    opacity: 1;
    visibility: visible;
}


/************ Sighting Menu Style ************/

div#stg-add {
    position: fixed;
    bottom: 60px;
    right: 40px;
    height: 65px;
    width: 55px;
    z-index: 450;
}

div#stg-add.inactive {
    z-index: 0;
}

#stg-add .context {
    position: relative;
    height: 100%;
    width: 100%;
}

#stg-add .context button {
    position: absolute;
    height: 55px;
    width: 55px;
    font-size: 20px;
    color: rgba(251, 251, 251, 0.6);
    cursor: pointer;
    -webkit-appearance: none;

    /*background: #673AB7;
    background: -webkit-linear-gradient(to right, #512DA8, #673AB7);
    background: linear-gradient(to right, #512DA8, #673AB7);*/

    border: none;
    border-radius: 12px;
    /*transition: 0.2s ease-in-out all;*/

    text-shadow: 0px 0px 4px rgba(251, 251, 251, 0);
    box-shadow: 2px 2px 24px rgba(30, 30, 30, 0.4), 0px 2px 4px rgba(30, 30, 30, 0.2);

    transition: 0.2s ease all;

    animation-name: float;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    z-index: 2;
}

#stg-add.inactive .context button {
    box-shadow: 2px 2px 20px rgba(30, 30, 30, 0);
}

#stg-add .context button:first-child {
    background: #ec008c;
    background: -webkit-linear-gradient(to bottom left, #f09b42, #ec008c);
    background: linear-gradient(to bottom left, #f09b42, #ec008c);
}

#stg-add .context button::after {
    content: "";
    position: absolute;
    height: 12px;
    padding: 4px 8px;
    font-size: 11px;
    font-weight: 200;
    white-space: nowrap;
    color: #FBFBFB;
    opacity: 0;
    visibility: collapse;
    background: #383D3D;
    border-radius: 6px;
    transition: 0.4s 1s ease opacity, 0s 0.5s ease visibility;
}

#stg-add .context button:first-child::after {
    content: "View More";
    top: 50%;
    left: 55px;
    transform: translateY(-50%);
}

#stg-add .context button:hover {
    color: rgba(251, 251, 251, 1);
    text-shadow: 0px 0px 8px rgba(251, 251, 251, 0.4);
    animation-name: none;
    transform: translateY(1px);
}

#stg-add .context button:hover::after {
    opacity: 1;
    visibility: visible;
}

#stg-add .shadow {
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: 10px;
    background: rgba(30, 30, 30, 0.075);
    z-index: 1;
    border-radius: 15px;
    box-shadow: 0px 0px 12px rgba(30, 30, 30, 0.075);
}


/************ Modal Style ************/

.notifiers .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 250px;
    margin: 60px auto;
    background: #FBFBFB;
    overflow: hidden;
}

.modal .context {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
}

.modal .context .header {
    flex: 2 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    color: #FBFBFB;
    background: rgba(26, 204, 149, 1);
}

.context .header button.close {
    display: block;
    position: absolute;
    top: 6px;
    right: 6px;
    height: 30px;
    width: 30px;
    margin: 0 auto;
    font-size: 1.4em;
    cursor: pointer;
    background: none;
    border: none;
    transition: 0.3s ease-in-out all;
    opacity: 0.65;
    -webkit-appearance: none;
}

.context .header button.close:hover {
    top: 4px;
    opacity: 1;
}

.context .header h3 {
    width: calc(100% - 120px);
    padding: 20px 10px;
    text-align: center;
    border-bottom: 1px solid rgba(251, 251, 251, 0.5);
}

.modal .message {
    flex: 1 1 20%;
    position: relative;
    width: calc(100% - 80px);
    padding: 20px 40px;
}

.modal .message p {

}

.modal .footer {
    flex: 2 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.modal .footer button {
    height: 40px;
    width: 160px;
    margin: 0 20px;
    font-size: 1.6em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgba(251, 251, 251, 0.65);
    cursor: pointer;
    -webkit-appearance: none;
    background: rgba(26, 204, 149, 0.8);
    border: none;
    box-shadow: 0px 0px 20px rgba(26, 204, 149, 0.4);
    transition: 0.3s ease-in-out all;
}

.modal .footer button:hover {
    margin-bottom: 4px;
    color: rgba(251, 251, 251, 1);
    background: rgba(26, 204, 149, 1);
    box-shadow: 0px 4px 20px rgba(26, 204, 149, 0.6);
}



/************ Flash Message Styles ************/

.notifiers .messages {
    width: 560px;
    margin: 60px auto;
}

div.fs-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 40px 20px;
    padding: 4px 12px;
    border-radius: 6px;
}

.fs-msg.success {
    background: rgba(26, 204, 149, 0.4);
    border: 2px solid rgba(26, 204, 149, 1);
    box-shadow: 0px 4px 20px rgba(26, 204, 149, 0.2);
}

.fs-msg.warning {
    background: rgba(240, 173, 78, 0.4);
    border: 2px solid rgba(240, 173, 78, 1);
    box-shadow: 0px 4px 20px rgba(240, 173, 78, 0.2);
}

.fs-msg.error {
    background: rgba(231, 76, 60, 0.4);
    border: 2px solid rgba(231, 76, 60, 1);
    box-shadow: 0px 4px 20px rgba(231, 76, 60, 0.2);
}

.fs-msg .context {

}

.fs-msg .context .status {
    font-weight: 700;
}



/************ Base Styles ************/

form {
    flex: 1 0 45%;
    height: 45%;
}

fieldset {
    width: 100%;
}

fieldset input, fieldset textarea {
    display: inline-block;
    width: calc(100% - 34px);
    height: auto;
    font-weight: 700;
    font-size: 1.2em;
    color: rgba(236, 0, 140, 0);
    line-height: 15px;
    letter-spacing: 1px;
    background: rgba(85, 85, 85, 0.1);
    padding: 8px 14px;
    border: 2px solid transparent;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    z-index: 850;
}

fieldset input {

}

fieldset textarea {
    resize: none;
}

fieldset input:focus, fieldset textarea:focus,
fieldset input:valid, fieldset textarea:valid {
    color: rgba(236, 0, 140, 0.9);
    border: 2px solid rgba(236, 0, 140, 1);
    box-shadow: 0px 0px 20px rgba(236, 0, 140, 0.4);
}

fieldset label {
    position: absolute;
    top: 45%;
    margin-left: 14px;
    font-weight: 700;
    font-size: 0.85em;
    letter-spacing: 0.1em;
    color: #CFCFCF;
    opacity: 1;
    transform: translateY(-50%);
    transition: 0.2s ease all;
    z-index: 840;
}

fieldset input:focus + label, fieldset textarea:focus + label,
fieldset input:valid + label, fieldset textarea:valid + label {
    margin-left: 0px;
    opacity: 0;
}

.submit {
    height: 80px;
    margin-top: 30px;
}

.submit button {
    display: block;
    position: relative;
    top: 14px;
    width: 250px;
    height: 45px;
    margin: 0 auto;
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgba(251, 251, 251, 0.65);
    cursor: pointer;
    -webkit-appearance: none;
    background: rgba(236, 0, 140, 0.9);
    background: -webkit-linear-gradient(to bottom left, rgba(252, 104, 104, 0.9), rgba(236, 0, 140, 0.9));
    background: linear-gradient(to bottom left, rgba(252, 104, 104, 0.9), rgba(236, 0, 140, 0.9));
    border: none;
    box-shadow: 0px 0px 20px rgba(236, 0, 140, 0.4);
    transition: 0.3s ease-in-out all;
}

.submit button:hover {
    top: 10px;
    color: rgba(251, 251, 251, 1);
    background: rgba(236, 0, 140, 1);
    background: -webkit-linear-gradient(to bottom left, rgba(252, 104, 104, 1), rgba(236, 0, 140, 1));
    background: linear-gradient(to bottom left, rgba(252, 104, 104, 1), rgba(236, 0, 140, 1));
    box-shadow: 0px 0px 20px rgba(236, 0, 140, 0.6);
}

.selection .base {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.selection .base button {
    display: block;
    height: 40px;
    width: 160px;
    margin: 10px 20px;
    font-size: 1.6em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgba(251, 251, 251, 0.65);
    cursor: pointer;
    -webkit-appearance: none;
    background: rgba(26, 204, 149, 0.8);
    border: none;
    box-shadow: 0px 0px 20px rgba(26, 204, 149, 0.4);
    transition: 0.3s ease-in-out all;
}

.selection fieldset .wrapper {
    margin: 10px auto;
}

.selection fieldset.child {
    padding: 0 27px;
}

input[type=checkbox], input[type=radio] {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 750;
}

input[type=checkbox] + label {
    cursor: pointer;
    background: #1E1E1E;
    z-index: 999;
}

input[type=checkbox].parent {
    height: 50px;
}

input[type=checkbox].parent + label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 3px;
    background: #383D3D;
    z-index: 700;
}

input[type=checkbox].parent + label h3 {
    order: 3;
    margin: 0;
    color: #FBFBFB;
}

input[type=checkbox].parent + label::before {
    content: '\203A';
    order: 1;
    width: 30px;
    height: 100%;
    color: rgba(255,255,255,0.3);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    line-height: 41px;
    transition: 0.2s ease all;
}

input[type=checkbox].parent + label::after {
    order: 2;
    content: '\f00c';
    width: 40px;
    height: 100%;
    margin-right: 20px;
    color: rgba(99,99,99,0.2);
    font-size: 24px;
    font-family: 'FontAwesome';
    text-align: center;
    line-height: 44px;
    border-left: 1px solid #1E1E1E;
    border-right: 1px solid #1E1E1E;
    background: -webkit-linear-gradient(to right, #E6E9F0, #EEF1F5);
    background: linear-gradient(to right, #E6E9F0, #EEF1F5);
    transition: 0.2s ease all;
}

input[type=checkbox].parent:hover + label::after {
    color: rgba(31, 31, 31, 0.8);
}

input[type=checkbox].parent:checked + label {
    background: #1E1E1E;
}

input[type=checkbox].parent:checked + label::before {
    color: #FBFBFB;
    line-height: 44px;
    transform: rotate(90deg);
}

input[type=checkbox].parent:checked + label::after,
input[type=checkbox].parent:checked:hover + label::after {
    color: rgba(251, 251, 251, 1);
    background: -webkit-linear-gradient(to right, #39e7b1, #4bf5c0);
    background: linear-gradient(to right, #39e7b1, #4bf5c0);
}

.wrapper.error input[type=checkbox]:checked + label::after,
.wrapper.error input[type=checkbox]:checked:hover + label::after {
    color: #1E1E1E;
    background: #E74C3C;
}

input[type=checkbox].single + label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-right: 12px;
    width: auto;
    height: 42px;
    /* max-width: 280px; */
    font-size: 20px;
    color: #FBFBFB;
    cursor: pointer;
    background: none;
    z-index: 700;
}

input[type=checkbox].single + label h3 {
    order: 1;
    margin: 0 55px;
    font-size: 0.75em;
    color: #383D3D;
}

input[type=checkbox].single + label p {
    order: 1;
    margin: 0 55px;
    font-size: 0.5em;
    color: #9D9D9D;
}

input[type=checkbox].single + label::before {
    content: '\f00c';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 14px;
    height: 14px;
    /* margin: 10px; */
    padding: 8px;
    font-family: 'FontAwesome';
    font-size: 0.7em;
    text-align: center;
    line-height: 14px;
    color: rgba(99,99,99,0.2);
    background: -webkit-linear-gradient(to right, #E6E9F0, #EEF1F5);
    background: linear-gradient(to right, #E6E9F0, #EEF1F5);
    border-radius: 4px;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 8px #E6E9F0;
    transition: 0.3s ease-in-out all;
    z-index: 725;
}

input[type=checkbox].single:checked + label::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    z-index: 720;
}

input[type=checkbox].single:checked + label::after {
    animation-name: ripple-expand;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

input[type=checkbox].single:hover + label h3,
input[type=checkbox].single:checked + label  h3{

}

input[type=checkbox].single:checked + label::before,
input[type=checkbox].single:checked:hover + label::before {
    top: 5px;
    color: rgba(251, 251, 251, 1);
    background: -webkit-linear-gradient(to right, #39e7b1, #4bf5c0);
    background: linear-gradient(to right, #39e7b1, #4bf5c0);
    box-shadow: 0px 0px 20px rgba(26, 204, 149, 0.2);
    transition: 0.05s ease all;
}

input[type=checkbox].single:checked + label::before,
input[type=checkbox].single:checked:hover + label::before {
    top: 5px;
    color: rgba(251, 251, 251, 1);
    background: -webkit-linear-gradient(to right, #39e7b1, #4bf5c0);
    background: linear-gradient(to right, #39e7b1, #4bf5c0);
    box-shadow: 0px 0px 20px rgba(26, 204, 149, 0.2);
    transition: 0.05s ease all;
}

input[type=checkbox].single:hover + label::before {
    top: 1px;
    color: rgba(31, 31, 31, 0.8);
}

.selection fieldset input[type=radio] {

}

.dropdown {
    max-width: 420px;
    height: 120px;
}

.ds-values {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.ds-visual {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.ds-label {
    flex: 1 1 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 38px;
    color: #FBFBFB;
    background: #383D3D;
    border: 1px solid #383D3D;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 1;
}

.ds-label .context {
    padding-right: 24px;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.075em;
}

.ds-selection {
    flex: 1 1 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.3s ease-in-out all;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 0;
}

.ds-selection.selected .ds-context{
    color: rgba(251, 251, 251, 1);
    background: -webkit-linear-gradient(to right, #39e7b1, #4bf5c0);
    background: linear-gradient(to right, #39e7b1, #4bf5c0);
    border: 1px solid #39e7b1;
    box-shadow: 0px 0px 20px rgba(26, 204, 149, 0.3);
}

.ds-selection .ds-context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 38px;
    width: 100%;

    cursor: pointer;
    background: -webkit-linear-gradient(to right, #E6E9F0, #EEF1F5);
    background: linear-gradient(to right, #E6E9F0, #EEF1F5);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #ececec;
     box-shadow: 0px 0px 8px #E6E9F0;
}

.ds-selection .ds-context .ds-selected {
    position: relative;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    color: rgba(99,99,99,0.3);
}

.ds-selection.selected .ds-context .ds-selected{
    color: rgba(251, 251, 251, 1);
}

.ds-selection .ds-context i::before {
    position: absolute;
    top: 55%;
    right: 12px;
    font-size: 1.4em;
    color: #071933;
    transition: color .2s ease-in-out;
    transform: translateY(-45%);
}

.ds-selection.selected i::before {
    color: rgba(251, 251, 251, 1);
}

.ds-selection:hover > .select {
    color: #dfbe65;
}

.select_text {
    padding-right: 13px;
}

.ds-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.2s ease all;
    z-index: -1;
}

.ds-menu.open-d {
    top: 38px;
    opacity: 1;
}

.ds-menu li {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-weight: 700;
    color: rgba(99,99,99,0.3);
    cursor: pointer;
    list-style: none;
    background: -webkit-linear-gradient(to right, #E6E9F0, #EEF1F5);
    background: linear-gradient(to right, #E6E9F0, #EEF1F5);
    z-index: -2;
}

.ds-menu li:hover {
    background-color: #3a3f49;
}

.selected .ds-menu li.primary-select {
    position: absolute;
    top: 0;
    z-index: -3;
}

.ds-menu li.NA {
    position: absolute;
    bottom: 38px;
    transition: 0.2s ease-in-out all;
    z-index: -3;
}

.selected .ds-menu.open-d li.NA {
    bottom: -36px;
}


/************ Call to Action Dock Styles ************/

#cta-dock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 60px;
    height: 200px;
    width: 100%;
    padding: 0;
    opacity: 1;
    visibility: visible;
    transition: 0.2s linear all;
    z-index: -999;
}

#cta-dock.hide {
    opacity: 0;
    visibility: hidden;
}

#cta-dock .context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 20px;
}

#cta-dock .context img {
    height: 80px;
}

#cta-dock .context h2, #cta-dock .context p {
    background-color: #DBDBDB;
    color: transparent;
    text-shadow: 0px 1px 2px rgba(225,225,225,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}


/************ Footer Styles ************/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 120px;
    width: 100%;
    background: #1E1E1E;
    z-index: -999;
}

footer .close {

}


/************ Base Styles ************/

.wh { background: #FBFBFB; }
.ba { background: #1E1E1E; }

.lt-grn { background: rgba(159, 238, 152, 1);}
.mt-grn { background: rgba(133, 189, 162, 1); }
.mt-bl { background: rgba(110, 149, 152, 1); }
.dr-bl { background: rgba(85, 112, 118, 1);}
.mt-pl { background: rgba(76, 76, 103, 1); }

.sw { box-shadow: 0px 0px 20px rgba(30, 30, 30, 0.15); }
.drsw { box-shadow: 0px 12px 20px rgba(30, 30, 30, 0.15); }

.sc { border-radius: 4px; }
.mc { border-radius:  8px; }
.hc { border-radius:  14px; }

.sgc { border: 1px solid #DBDBDB; }
.hgc { border: 1px solid #BDBDBD; }

.sln { background: #EFEFEF; }
.hln { background: #E6E6E6; }

.nd { display: none !important; }
.nv {
    opacity: 0 !important;
    visibility: hidden !important;
}

.frnt { z-index: 999 !important; }
.bck { z-index: -999 !important; }

.success {
    background: #19CC95;
}

.failed {
    background: #E74C3C;
}

.warning {

}

.highlight {

}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 250;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    transition: visibility 0.5s, opacity 0.5s;
}

::-moz-selection {
    background: rgba(159, 238, 152, 0.8);
    text-shadow: none;
}

::selection {
    background: rgba(159, 238, 152, 0.8);
    text-shadow: none;
}

button:focus {
    outline: none !important;
}


/************ Animations ************/

@keyframes ripple-expand {
    0% {
        opacity: 0;
        height: 0px;
        width: 0px;
        background: rgba(57, 231, 177, 0);
        box-shadow: 0px 0px 20px rgba(57, 231, 177, 0);
    }

    5% {
        opacity: 1;
        height: 42px;
        width: 42px;
        background: rgba(57, 231, 177, 0.2);
        box-shadow: 0px 0px 20px rgba(57, 231, 177, 0.2);
    }

    100% {
        opacity: 0;
        height: 0px;
        width: 0px;
        background: rgba(57, 231, 177, 0);
        box-shadow: 0px 0px 20px rgba(57, 231, 177, 0);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    30% {
        transform: translateY(1px);
    }

    70% {
        transform: translateY(-0.5px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes rotate-forever {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes processing-fade {
    0% {
        opacity: 1;
        font-size: 18px;
    }

    25% {
        opacity: .5;
        font-size: 19px;
        letter-spacing: 0.15em;
    }

    50% {
        opacity: 1;
        font-size: 18px;
    }

    75% {
        opacity: .5;
        font-size: 19px;
        letter-spacing: 0.15em;
    }

    100% {
        opacity: 1;
        font-size: 18px;
    }
}
