main {
    width: 100vw;
    padding: 0;
    overflow: visible;
}

article {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    padding: 30px 40px;

}

p {
    margin-top: 24px;
}

h3 {
    display: inline-block;
    position: relative;
}

h3::after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: -8px;
    /* width: 240px; */
    width: 110%;
    height: 24px;
    background: rgba(26, 204, 148, 0.2);
    z-index: -999;
}

#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-top: -105px;
    padding: 0;
    background: linear-gradient(to top right, rgba(26, 204, 148, 0.8) 0%, rgba(126, 238, 203, 0.8) 95%);
    /* background: linear-gradient(to bottom right, rgba(26, 204, 148, 0.4) 0%, rgba(126, 238, 203, 0.0) 95%); */
}

#particle {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100%;
    margin: 0 auto;
}

#br {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    background: transparent;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-image: url( "https://www.brypt.com/assets/light.jpg" );
    z-index: -999;
}

#cta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    height: 60vh;
    max-height: 440px;
    width: 85vw;
    max-width: 1080px;
    overflow: hidden;
    border-radius: 6px;
    /* background: #F4F7F8; */
    /* box-shadow: 0px 24px 22px -16px rgba(0,0,0,0.3), 0px 2px 4px rgba(30, 30, 30, 0.125); */
}

#cta .context {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}

#cta #welcome {
    flex: 0 0 42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 42%;
    margin: 0;
    /* background: linear-gradient(to top, rgb(26, 204, 148) 0%, rgb(126, 238, 203) 100%); */

}

#cta #welcome h2 {
    color: #FBFBFB;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 8em;
    font-weight: 700;
    text-shadow: 2px 6px 8px rgba(0,0,0,0.1),
                 4px 10px 12px rgba(0,0,0,0.05);
}

#cta .content {
    flex: 1 1 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 58%;
    margin: 0;
}

#cta .content p {
    margin-bottom: 60px;
    margin-left: 24px;
    color: #FBFBFB;
    font-size: 1.1em;
}

#cta .content .out {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 40px;
}

.out .btn a {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: 0px;
    height: 45px;
    width: 200px;
    margin: 0;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0em;
    overflow: hidden;
    border-radius: 12px;
    transition: 0.4s ease-in-out all;
    box-shadow: 0 4px 8px 0 rgba(251,251,251,0), 0 2px 4px 0 rgba(251,251,251,0);
}

.out .btn a:hover {
    bottom: 6px;
    box-shadow: 0 4px 20px 0 rgba(251,251,251,0.24), 0 2px 4px 0 rgba(251,251,251,0.2);
}

.out .btn:first-child a {
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 12px;
    color: rgba(26, 204, 148, 1);
    background: linear-gradient(to top right, #E6E9F0 0%, #F4F7F8 100%);
}

.out .btn:last-child a {
    justify-content: center;
    color: rgba(26, 204, 148, 1);
    background: linear-gradient(to top right, #2D383C 0%, #3c4a4f 100%);
}

.out .btn:first-child a::after {
    content: "\f105";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0px;
    height: 32px;
    width: 32px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    color: rgb(26, 204, 148);
    border-radius: 100%;
    transition: left 1s ease-in-out;
}

.out .btn:first-child a:hover::after {
    animation-name: shift-right;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.out .btn:last-child {
    margin-left: 24px;
}

.out .btn a h3 {
    font-size: 0.85em;
}

.out .btn label {
    margin-top: 4px;
    font-size: 0.8em;
    font-weight: 400;
    font-style: italic;
    color: #FBFBFB;
    opacity: 0.8;
}

#landing svg {
    position: absolute;
    left: 0;
    bottom: 0;
}

#landing svg .polygon {

}

#statement {
    max-width: 760px;
}

#statement p {
    font-size: 1.1em;
}

#quick-links {
    margin-top: 24px;
}

#quick-links .context {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    max-width: 980px;
    margin: 36px auto 0 auto;
}

.ql-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 320px;
    height: 460px;
    margin: 80px 24px 0 24px;
    overflow: hidden;
    border-radius: 12px;
    background: #f4f7f8;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
}

.ql-card:nth-child(even) {
    margin-top: -36px;
    margin-left: -12px;
}

.ql-card .header {
    flex: 0 0 200px;
    position: relative;
    height: 200px;
    width: 100%;
    background: linear-gradient(to top right, rgba(26, 204, 148, 0.2) 0%, rgba(126, 238, 203, 0.2) 100%);
    /* z-index: 999; */
    overflow: hidden;
}

.ql-card .header img {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    max-width: 100%;
    margin: 0 auto;
    /* z-index: -999; */
}

.ql-card .content {
    flex: 0 0 180px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 180px;
    width: 100%;
    padding: 12px 24px;
}

.ql-card .content h4 {
    display: block;
    width: 100%;
    padding-left: 4px;
}

.ql-card .content h4::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background: #CFCFCF;
}

.ql-card .footer {
    flex: 0 0 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
}

.ql-card .footer .btn {
    position: relative;
    width: 240px;
    margin: 0 auto;
}

.ql-card .footer .btn a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to top right, rgba(26, 204, 148, 0.8) 0%, rgba(126, 238, 203, 0.8) 100%);
    box-shadow: 0px 4px 20px rgba(26, 204, 149, 0.2);
    transition: 0.3s ease-in-out all;
}

.ql-card .footer .btn a:hover {
    bottom: 4px;
    color: rgba(251, 251, 251, 1);
    background: rgba(26, 204, 149, 1);
    background: linear-gradient(to right top, rgba(26, 204, 148, 1) 25%, rgba(67, 231, 179, 1) 100%);
    opacity: 1;
    box-shadow: 0px 4px 20px rgba(26, 204, 149, 0.6);
}

#team {
    margin-top: 48px;
    padding: 30px 0;
}

#team h3 {
    margin-left: 40px;
}

#team .context {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    max-width: 1200px;
    margin: 36px auto 0 auto;
}


.tm-card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 380px;
    height: 85px;
    margin: 42px 24px 0 0;
    border-radius: 12px;
    background: #f4f7f8;
}

.tm-card .header {
    flex: 0 0 85px;
    position: relative;
    height: 100%;
    width: 85px;
    overflow: hidden;
    background: #ababab;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.tm-card .header img {
    max-width: 100%;
    margin: 0 auto;
}

.tm-card .content {
    flex: 0 0 295px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 295px;
    padding: 4px 12px 8px 12px;
}

.tm-card .content h4 {
    display: inline-block;
    position: relative;
    width: auto;
    font-size: 1.1em;
}

.tm-card .content h4::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 6px;
    width: 100%;
    margin: 0 auto;
    height: 8px;
    /* background: #CFCFCF; */
    background: rgba(26, 204, 148, 0.2);
    /* background: linear-gradient(to top right, rgba(26, 204, 148, 1) 0%, rgba(126, 238, 203, 1) 100%); */
}

.tm-card .content p {
    margin-top: 8px;
    font-size: 0.9em;
}

.tm-card .footer {
    flex: 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: -12px;
    right: -12px;
    height: 40px;
    width: auto;
}

.tm-card .footer .btn {
    position: relative;
    width: 32px;
    height: 32px;
    margin-right: 6px;
}

.tm-card .footer .btn a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0px;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    background: linear-gradient(to top right, rgba(26, 204, 148, 0.8) 0%, rgba(126, 238, 203, 0.8) 100%);
    box-shadow: 0px 4px 20px rgba(26, 204, 149, 0.2);
    transition: 0.4s ease-in-out all;
}

.tm-card .footer .btn a:hover {
    bottom: 4px;
    color: rgba(251, 251, 251, 1);
    background: rgba(26, 204, 149, 1);
    background: linear-gradient(to right top, rgba(26, 204, 148, 1) 25%, rgba(67, 231, 179, 1) 100%);
    opacity: 1;
    box-shadow: 0px 4px 20px rgba(26, 204, 149, 0.6);
}

#contact {
    margin-top: 24px;
}

#contact .context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

#contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90vw;
    max-width: 1260px;
    margin-top: 0px;
    margin-right: -184px;
    padding: 32px 48px;
    border-radius: 8px;
    background: linear-gradient(to top right, rgb(26, 204, 148) 0%, rgb(126, 238, 203) 100%);
}

#contact form::before {
    display: none;
}

#contact fieldset {
    width: auto;
    margin: 0;
    margin-right: 60px;
    padding: 0;
}

#contact form input, #contact form textarea {
    background: #FBFBFB;
    box-shadow: 2px 4px 6px #E6E9F0;
}

#contact fieldset input:focus, #contact fieldset textarea:focus {
    border: 2px solid #4a5c62;
    box-shadow: 2px 4px 6px rgba(60, 74, 79, 0.6);
}

#contact fieldset label {
    position: absolute;
    top: 50%;
    margin-left: 14px;
    font-weight: 700;
    font-size: 0.85em;
    letter-spacing: 0.1em;
    color: #CFCFCF;
    opacity: 1;
    transform: translateY(-50%);
    transition: 0.2s ease all;
    z-index: 999;
}

#contact fieldset textarea + label {
    top: 28px;
    transform: translateY(0%);
}

#contact fieldset input[type=text]:focus + label,
#contact fieldset textarea:focus + label {
    margin-left: 0px;
    opacity: 0;
}

#contact form button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 0px;
    width: 240px;
    margin-top: 18px;
    margin-left: auto;
    color: rgba(26, 204, 148, 0.8);
    border-radius: 4px;
    background: rgba(251, 251, 251, 0.95);
    box-shadow: 0px 4px 20px rgba(251, 251, 251, 0.2);
    transition: 0.4s ease-in-out all;
}

#contact form button:hover {
    bottom: 4px;
    color: rgba(26, 204, 149, 1);
    background: rgba(251, 251, 251, 1);
    box-shadow: 0px 4px 20px rgba(251, 251, 251, 0.6);
}

#contact form button h4 {
    margin-left: 14px;
    font-size: 0.9em;
    text-transform: capitalize;
    letter-spacing: 0.05em;
}

#contact form button i {
    margin-right: 14px;
}

@keyframes shift-right {
    0% {
        left: 0px;
    }
    50% {
        left: 6px;
    }
    100% {
        left: 0px;
    }
}
