{{> header}}

<main>
    <article class="access">
        <section class="login {{login}}">
            <div class="box sw mc sg">
                <div class="wrapper">
                    <div class="header">
                        <h2>Sign In</h2>
                        <img class="icon" src="./assets/img/ufo-abduct-cow-simple-black.svg" alt="">
                    </div>
                    <form action="javascript:;" onsubmit="buttonTest('login')" method="post" name="login">
                        <fieldset class="username">
                            <input type="text" name="username" required="" placeholder="Username">
                        </fieldset>
                        <fieldset class="password">
                            <input type="password" name="password" required="" placeholder="Password">
                        </fieldset>
                        <fieldset class="submit">
                            <button id="login" type="submit" name="login">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </button>
                        </fieldset>
                    </form>
                    <div class="footer">
                        <a href="#" id="fg-usn" class="help-link">Forgot Username</a>
                        <a href="#" id="fg-pw" class="help-link">Forgot Password</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="register {{register}}">
            <div class="box sw mc sg">
                <div class="wrapper">
                    <div class="header">
                        <h2>Register</h2>
                    </div>
                    <form action="javascript:;" onsubmit="buttonTest('register')" method="post" name="register">
						<div class="name">
							<fieldset class="FirstName">
								<input type="text" name="first_name" required="" placeholder="First Name">
							</fieldset>
							<fieldset class="LastName">
								<input type="text" name="last_name" required="" placeholder="Last Name">
							</fieldset>
						</div>
                        <fieldset class="UserName">
                            <input type="text" name="username" required="" placeholder="Username">
                        </fieldset>
                        <fieldset class="Email">
                            <input type="text" name="email" required="" placeholder="Email">
                        </fieldset>
                        <fieldset class="UserPassword">
                            <input type="password" name="password" required="" placeholder="Password">
                        </fieldset>
                        <fieldset class="Region">
                            <input type="text" name="Region" required="" placeholder="Region">
                        </fieldset>
                        <fieldset class="Birthday">
                            <input type="date" name="Birthday" required="">
                        </fieldset>
                        <fieldset class="submit">
                            <button id="register" type="submit" name="register">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </button>
                        </fieldset>
                    </form>
                    <div class="footer">

                    </div>
                </div>
            </div>
        </section>

        <div id="chg-action" class="frnt">
            <button type="button" name="chg" class="" data-active="{{active}}">{{inactive_text}}</button>
        </div>

    </article>

</main>
{{> footer}}
