<div class="overlay"></div>

{{> header}}

<main>
    <article class="access">
        <section class="login {{login}}">
            <div class="box sw mc sg">
                <div class="wrapper">
                    <div class="header">
                        <h2>Sign In</h2>
                        <img class="icon" src="./assets/img/ufo-abduct-cow-simple-black.svg" alt="">
                    </div>
                    <form action="signInUser.php" method="post">
                        <fieldset class="username">
                            <input type="text" name="username" required="">
                            <label for="username">Username</label>
                        </fieldset>
                        <fieldset class="password">
                            <input type="password" name="Password" required="">
                            <label for="Password">Password</label>
                        </fieldset>
                        <fieldset class="submit">
                            <button class="sc" type="submit" name="signin">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </button>
                        </fieldset>
                    </form>
                    <div class="footer">
                        <a href="#" id="fg-usn" class="help-link">Forgot Username</a>
                        <a href="#" id="fg-pw" class="help-link">Forgot Password</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="register {{register}}">
            <div class="box sw mc sg">
                <div class="wrapper">
                    <div class="header">
                        <h2>Register</h2>
                    </div>
                    <form action="insert.php" method="post">
                        <fieldset class="UserName">
                            <input type="text" name="UserName" required="">
                            <label for="UserName">Username</label>
                        </fieldset>
                        <fieldset class="Email">
                            <input type="text" name="Email" required="">
                            <label for="Email">Email</label>
                        </fieldset>
                        <fieldset class="UserPassword">
                            <input type="password" name="UserPassword" required="">
                            <label for="">Password</label>
                        </fieldset>
                        <fieldset class="Region">
                            <input type="text" name="Region" required="">
                            <label for="Region">Region</label>
                        </fieldset>
                        <fieldset class="Birthday">
                            <input type="date" name="Birthday" required="">
                            <label for="Birthday">Birthday</label>
                        </fieldset>
                        <fieldset class="submit">
                            <button class="sc" type="submit" name="signin">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </button>
                        </fieldset>
                    </form>
                    <div class="footer">

                    </div>
                </div>
            </div>
        </section>

        <div id="chg-action" class="frnt">
            <button type="button" name="chg" class="" data-active="{{active}}">{{inactive_text}}</button>
        </div>

    </article>

</main>

{{> footer}}
