{{> header}}

<main class="">

    <article id="contact">
        <h3>Contact Us</h3>
        <div class="context">
            <form class="fs" action="index.html" method="post">
                <fieldset class="">
                    <div class="wrapper">
                        <input type="text" name="name" value="">
                        <label for="name">Name</label>
                    </div>
                    <div class="wrapper">
                        <input type="text" name="email" value="">
                        <label for="email">Email</label>
                    </div>
                    <div class="wrapper">
                        <textarea name="message" rows="8" cols="80"></textarea>
                        <label for="message">Message</label>
                    </div>
                    <button type="submit" name="submit"><h4>Submit</h4><i class="fas fa-arrow-right"></i></button>
                </fieldset>
            </form>
        </div>
    </article>
</main>

{{> footer}}

<div class="overlay nv nd"></div>
