{{> header}}

<main class="">

    <article id="landing">
        <canvas id="particle"></canvas>
        <div id="br"></div>

        <div id="cta">
            <div class="context">
                <div id="welcome">
                    <h2>Welcome to Brypt!</h2>
                    <p></p>
                </div>
                <div class="content">
                    <p>
                        Brypt is a federated distributed Internet of Things ecosystem developed to investigate the computational and power impacts of different cryptographic systems. Brypt provides a cross-platfrom desktop application to monitor the polymorphic communication network. 
                    </p>
                    <br>
                    <div class="out">
                        <div class="wrapper btn">
                            <a class="sw" href="https://github.com/vpiscitello/brypt-desktop" name="github-desktop-application"><h3>Download the Application</h3></a>
                            <label for="login">Access the Brypt Dashboard</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1750 150">
            <defs>
                <lineargradient id="green" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" style="stop-color:rgb(26, 204, 148);stop-opacity:1" />
                    <stop offset="100%" style="stop-color:rgb(126, 238, 203);stop-opacity:1" />
                </lineargradient>
                <lineargradient id="base" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" style="stop-color:#E6E9F0;stop-opacity:1" />
                    <stop offset="100%" style="stop-color:#F4F7F8;stop-opacity:1" />
                </lineargradient>
            </defs>
            <path class="polygon" d="M1750,150H-20V0l1770,100V150z" fill="url(#green)"></path>
            <path class="polygon" d="M-20,150V0l1770,150H-20z" fill="url(#base)"></path>
        </svg>
    </article>
    <article id="statement">
        <h3>Problem Statement</h3>
        <!-- NOTE: Condense? -->
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;As it stands, a wide variety of mission critical tasks for many utility grids (water, power, etc.) are accomplished by low power embedded devices. By in large information security appears to be an afterthought in many internet connected devices thus creating significant opportunities for malicious persons to compromise these systems. Given that interconnected devices have become ubiquitous with modern life, the effects of a compromised system can be far reaching. The outcomes can range from the invasion of industrial security to the loss of life. Our project takes a look at the state of Internet of Things security as we implement our own network. To solve these issues we will implement a federated infrastructure of which we will use to study the trade-offs of security and power consumption. Our project, Brypt, aims to provide a solution for architects of these networks to have the best of both worlds. In minimizing the cost of power while maximizing the security of ad-hoc mesh networks will demonstrate numerous benefits.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;The ultimate goal of this project will be to produce the implementation and verification of the secure networking paradigm succinctly named Brypt. Brypt combines the main cornerstones of the software, bridging and encrypting. The implementation will provide a central server, binaries for node endpoints, and a security protocol working on top of the application layer. In completing the work on this project our team aims to provide a novel solution to security in interconnected networks of embedded and general purpose devices. Some of the benefits Brypt will provide include the increased viability of secure cryptographic primitives in resource constrained environments across several of different communication technologies.
        </p>
    </article>
    <article id="quick-links">
        <h3>Quick Links</h3>

        <div class="context">
            {{#each quickLink}}
                {{> qlCard}}
            {{/each}}
        </div>
    </article>
    <article id="team">
        <h3>Our Team</h3>
        <p>

        </p>
        <div class="context">
            {{#each teamMember}}
                {{> tmCard}}
            {{/each}}
        </div>
    </article>
    <article id="contact">
        <h3>Contact Us</h3>
        <div class="context">
            <form class="fs" action="index.html" method="post">
                <fieldset class="">
                    <div class="wrapper">
                        <input type="text" name="name" value="">
                        <label for="name">Name</label>
                    </div>
                    <div class="wrapper">
                        <input type="text" name="email" value="">
                        <label for="email">Email</label>
                    </div>
                    <div class="wrapper">
                        <textarea name="message" rows="8" cols="80"></textarea>
                        <label for="message">Message</label>
                    </div>
                    <button type="submit" name="submit"><h4>Submit</h4><i class="fas fa-arrow-right"></i></button>
                </fieldset>
            </form>
        </div>
    </article>
</main>

{{> footer}}

<div class="overlay nv nd"></div>
