<header class="navigation sw">
    <div class="company">
        <!-- <img class="logo" src="./assets/img/small-line-logo.svg" alt=""> -->
        <h2 class="title">Brypt</h2>
    </div>
    <nav class="primary nv-m hd-m">
        <div class="cover">
            <div class="toggle" id="menu-toggle"><span></span></div>
        </div>
        <div class="menu drsw sc">
            <ul class="sc mi">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
                <li>
                    <a href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
