<div class="ql-card">
    <div class="header">
        <img class="back" src="../assets/{{image}}" alt="">
    </div>
    <div class="content">
        <h4>{{title}}</h4>
        <p class="description">
            {{description}}
        </p>
    </div>
    <div class="footer">
        <div class="wrapper btn">
            <a class="sw" href="{{link}}"><i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>
