body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}

main .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

#network {
    flex: 0 1 65vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100%;
    width: 65vw;
    padding: 124px 48px 48px 48px;
}

#network #user .context {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
}

#user .icon {
    flex: 1 0 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    margin-right: 24px;
    font-size: 20px;
    color: #FBFBFB;
    background: rgb(26, 204, 148);
    /* background: linear-gradient(to top, rgb(26, 204, 148) 0%, rgb(126, 238, 203) 100%); */
    border-radius: 100%;
}

#user .info {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
}

#user .info h4 {
    display: inline-block;
    position: relative;
    width: auto;
}

#user .info h4::after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: -8px;
    /* width: 240px; */
    width: 110%;
    height: 24px;
    background: rgba(26, 204, 148, 0.2);
    z-index: -999;
}

#user .info p {
    max-width: 640px;
    margin-top: 12px;
}

#data {
    flex: 1 0 35vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100%;
    width: 35vw;
    /* background: linear-gradient(to top, rgb(26, 204, 148) 0%, rgb(126, 238, 203) 100%); */
    background: linear-gradient(to top right, #2D383C 0%, #3c4a4f 100%);
    /* box-shadow: -20px 0px 32px -5px rgba(26, 204, 148, 0.15); */
    box-shadow: -20px 0px 32px -5px rgba(45, 56, 60, 0.15);
}

#flg-msg {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    height: 40px;
    width: 60vw;
    max-width: 520px;
    margin: 0 auto;
}

#detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 240px;
    width: 80vw;
    max-width: 840px;
    margin: 0 auto;
}
